 -luci-app-cpufreq htop autocore luci-app-commands luci-app-webadmin luci-app-wireguard luci-app-wrtbwmon luci-i18n-base-zh-cn luci-i18n-adbyby-plus-zh-cn luci-i18n-cifs-mount-zh-cn luci-i18n-commands-zh-cn luci-i18n-filetransfer-zh-cn luci-i18n-firewall-zh-cn luci-i18n-frpc-zh-cn luci-i18n-webadmin-zh-cn luci-i18n-wireguard-zh-cn luci-i18n-wrtbwmon-zh-cn luci-theme-material ariang coremark iperf libcap libcap-bin bind-dig bind-host ppp-mod-pptp gzip unzip lsblk lscpu nano vim-full zsh screen tmux tree whereis
